/*banner开始*/
#banner
{
    height: 178px;
    background: #edf4ed;
}
#banner .wrap{
    height: 100%;
    background-image:url("../img/doubanapp5.png") ,url("../img/doubanapp5_bg.png");
    background-repeat: no-repeat;
    background-position: 50px -100px,0 0;
}
.app-name{
   float: right;
    position: absolute;
    margin-left: 650px;
    margin-top: 10px;
}
#banner .app-name h1{
    font-size: 25px;
    color: #111;
    margin: 7px auto;
    margin-top: 22px;

}
#banner img{
    width: 28px;
    height: 28px;
    vertical-align: middle;
    border:0;
}
#banner .app-name p{
    font-size: 12px;
    letter-spacing: 2px;
    color: #111;
}
.btn-download{
    display: inline-block;
    font-size: 12px;
    width: 142px;
    height: 30px;
    background: #00b51d;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
    margin-bottom: 7px;
    margin-top: 27px;
}
#login-form{
    position: absolute;
    width: 272px;
    top: 120px;
    right: 120px;
}
#banner .login-form .bg-fff {
    border: 1px solid #DBE5DB;
    background: #ffffff;
}
.btn{
    width: 132px;
    border: 0;
    color: #fff;
    padding: 7px 0;
    border-radius: 2px;
    cursor: pointer;
    margin: 1px;
}
.btn:hover{
    opacity: 0.8;
    filter: alpha(opacity:80);
}
.btn.login{
    background: #2a8c70;
}
.btn.registered{
    border: 1px solid #2a8c70;
    color: #2a8c70;
    background: #edf4ed;
    padding: 6px 0;
}
#banner .email, #banner .password{
    border: 6px;
    width: 100%;
    height: 32px;
    line-height: 32px;
    text-indent: 7px;
    margin: 4px;
}
#banner .password{
    width: 236px;
}
#banner .remember-me{
    float: left;
}
#banner .login-form p{
    width: 272px;
    position: absolute;
    top: 32px;
    right: 0;
}
#banner .login-form p{
    height: 32px;
    margin: 5px auto;
}
#banner .other-login{
    float: right;
}
#banner .other-login li{
    float: left;
    width: 14px;
    height: 12px;
    margin-right: 5px;
}
#banner .other-login img{
    width: 14px;
    height: 12px;
}
/*banner结束*/
/*adj开始*/
.adj{
    width: 950px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}
/*adj结束*/